table {
  width: 40rem;
  border-spacing: 0;
  margin: auto;
  font-family: sans Verdana, Geneva, Tahoma, sans-serif
}

td {
  padding: 1rem;
  border-bottom: #000 1px solid;
}
h3{
  text-emphasis: 2;
}

tr {
  background-color: cornsilk;
}